/* TODO: Move styles into components */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

}

h1 {
  margin: 10px;
}

main section, .stats {
  display: flex;
  flex-direction: column;
}

.sentiment-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sentiment-content div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sentiment-content div h3 {
  margin: 0 1rem 0 0;
}

.sentiment-content p {
  margin: 0;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  max-width: 50vw;
}

ul.cloud li {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

.modal {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  line-height: normal;
  padding: 1rem;
  position: fixed;
  z-index: 1;
}

.modal button {
  align-self: flex-end;
  background: gray;
  border: 1px solid black;
  cursor: pointer;
  font-size: 24px;
  width: 30px
}